/** @format */

.div-condition-main {
    background-color: rgb(29, 30, 32);
    padding: 20px;
    border-radius: 20px;
    border: none;
    margin-left: 15px;
    margin-top: 15px;
    align-self: flex-start;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 170px;
}

.span-condition-display-name {
    font-size: 23px;
    font-weight: bold;
}

.span-condition-line {
    font-size: 17px;
    font-weight: bold;
}

.div-condition-colunm-wrapper {
    display: flex;
}

.div-condition-colunm,.div-condition-colunm-2 {
    display: flex;
    flex-direction: column;
}

.div-condition-colunm {
    min-width: 78px;
}

.div-condition-colunm-2 {
    margin-left: 10px;
}

.div-condition-span-wrapper {
    margin-top: 5px;
    height: 22px;
}

.div-condition-input-wrapper {
    margin-top: 5px;
    height: 22px;
    display: flex;
}

.button-condition-clear {
    outline: none;
    border: none;
    color: rgb(32, 33, 36);
    background-color: rgb(80, 250, 123);
    font-weight: bold;
    width: 45px;
    height: 22px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
}

.button-condition-clear:hover
{
    background-color: rgb(5, 179, 48);
}

.button-condition-clear:active
{
    background-color: rgb(26,27,29);
    color: white;
}

.input-condition {
    outline: none;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 56px;
    text-align: center;
    height: 20px;
}
