/** @format */

.div-condition-main {
    background-color: rgb(29, 30, 32);
    padding: 15px;
    border-radius: 20px;
    border: none;
    width: 250px;
    height: 240px;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
    align-self: flex-start;
}

.input-condition {
    outline: none;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 35%;
    text-align: center;
    margin-left: 5px;
    height: 20px;
}
