/** @format */

table {
    border: 1px solid #ccc;
    border-radius: 10px;
    border-spacing: 0;
}

td,
th {
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

td:last-child,
th:last-child {
    border-right: 0;
}

tr:last-child td,
tr:last-child th {
    border-bottom: 0;
}

.button-start-query {
    outline: none;
    border: none;
    color: rgb(32, 33, 36);
    background-color: rgb(80, 250, 123);
    padding: 3px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 15px;
    border-radius: 15px;
    font-size: 23px;
}

.div-table-header {
    background-color: rgb(29, 30, 32);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    align-items: flex-end;
}

.div-table-wrapper {
    background-color: rgb(29, 30, 32);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    flex-wrap: wrap;

    flex-grow: 1;
}
