/** @format */

table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-spacing: 0;
}

td,
th {
    padding: 8px;
    min-width: 50px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

td:last-child,
th:last-child {
    border-right: 0;
}

tr:last-child td,
tr:last-child th {
    border-bottom: 0;
}

.button-start-query,.button-create-new-one {
    outline: none;
    border: none;
    color: rgb(32, 33, 36);
    background-color: rgb(80, 250, 123);
    padding: 3px;
    font-weight: bold;
    width: 175px;
    height: 50px;
    margin-top: 15px;
    border-radius: 15px;
    font-size: 23px;
}

.button-create-new-one {
    margin-left: 10px;
}

.button-create-new-one:hover,.button-start-query:hover,.button-little:hover
{
    background-color: rgb(5, 179, 48);
}

.button-create-new-one:active,.button-start-query:active,.button-little:active
{
    background-color: rgb(26,27,29);
    color: white;
}

.div-table-header {
    background-color: rgb(29, 30, 32);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    align-items: flex-end;
    min-width: 900px;
}

.div-table-wrapper {
    background-color: rgb(29, 30, 32);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    flex-wrap: wrap;

    flex-grow: 1;
    min-width: 900px;
}

.div-table-header-front {
    display: flex;
    align-items: flex-end;
    flex-grow: 0;
}

.div-table-header-tail {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    flex-grow: 1;
}

.input-limit-and-offset {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 43px;
    text-align: center;
    margin-left: 5px;
    height: 20px;
    font-size: 17px;
}

.button-little {
    outline: none;
    border: none;
    color: rgb(32, 33, 36);
    background-color: rgb(80, 250, 123);
    padding: 3px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 5px;
    position: relative;
}

img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

span {
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
}
