.div-main {
    display: flex;
    flex-direction: column;
}

.div-field-name-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 20px;
    height: 425px;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

.div-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-bottom: 15px;
}

.button-field-name {
    background-color: rgb(29, 30, 32);
    border-radius: 15px;
    outline: none;
    border: none;
    margin-top: 15px;
    align-self: flex-start;
    width: 100%;
    min-width: 240px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.button-field-name:hover
{
    background-color: rgb(54, 56, 59);
}

.button-field-name:active
{
    background-color: rgb(26,27,29);
}

.button-cancel {
    outline: none;
    border: none;
    color: rgb(32, 33, 36);
    background-color: rgb(80, 250, 123);
    font-weight: bold;
    width: 120px;
    height: 32px;
    border-radius: 9px;
    font-size: 17px;
}

.button-cancel:hover
{
    background-color: rgb(5, 179, 48);
}

.button-cancel:active
{
    background-color: rgb(26,27,29);
    color: white;
}

span {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
