.div-main {
    display: flex;
    flex-direction: column;
}

.div-field-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 20px;
    height: 425px;

    display: flex;
    overflow: auto;
}

.div-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.button-cancel, .button-confirm {
    outline: none;
    border: none;
    color: rgb(32, 33, 36);
    background-color: rgb(80, 250, 123);
    font-weight: bold;
    width: 120px;
    height: 32px;
    border-radius: 9px;
    font-size: 17px;
}

.button-cancel:hover, .button-confirm:hover {
    background-color: rgb(5, 179, 48);
}

.button-cancel:active, .button-confirm:active {
    background-color: rgb(26,27,29);
    color: white;
}

.button-confirm {
    margin-right: 10px;
}

span {
    font-size: 16px;
    font-weight: bold;
}

.input-field-value {
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    width: 225px;
}

.div-span-column-wrapper, .div-input-column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div-span-wrapper {
    width: 73px;
    min-height: 32px;
}

.div-span-wrapper, .div-input-wrapper {
    height: 45px;
    margin-top: 10px;
}
